<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

<h2>corrupted files</h2>

  <table id="corruptedFiles" class="table table-striped">
			<thead>
				<tr>
					<th style="width: 150px;">File Name</th>
					<th style="width: 150px;">Field</th>
					<th style="width: 150px;">Error Message</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="error : ${errors}">
              <td th:text="${error.fileName}"/>
              <td th:text="${error.jsonField}"/>
              <td th:text="${error.errorMsg}"/>
          </tr>
			</tbody>
		</table>
		
  <h2>The visits made and the treatments given by the vitirinarians below were not imported because these vitirainaires are not part of our cabinet</h2>

  <table id="vets" class="table table-striped">
			<thead>
				<tr>
					<th style="width: 150px;">Veterinarian matricule</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="matricule : ${selections}">
					<td th:text="${matricule}" />
				</tr>
			</tbody>
		</table>
</body>
</html>
